HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
# *.run

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/



### VS Code ###
.vscode/


### log
/logs/

## application-*.yml
**/src/main/resources/application-*.yml
**/src/test/resources/application-*.yml

## files
__files
**/.flattened-pom.xml